.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60rem;
    color: rgb(53, 53, 53);
}

.animated-background-text {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 400% 400%; /* Important for the animation to have space to move */
    animation: textGradient 15s ease infinite;
}

.title-container h1 {
    font-size: 4.4rem;
    margin-bottom: 0.1rem;
}

.start-button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 1rem;
    outline: none;
    transition: background-color 0.3s ease; /* Change 'opacity' to 'background-color' */

}

.button-container {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%; /* Important for the animation to have space to move */
    animation: textGradient 15s ease infinite;
    color: white;
    border: none;
    height: 100%;
    border-radius: 1rem;
}

.start-button:hover {
    background-color: rgba(51, 51, 51, 0.2);
    border: none;
    outline: none;
}

.start-button:focus {
    background-color: rgba(51, 51, 51, 0.2);
    border: none;
    outline: none;
}

.title-container p {
    font-size: 1.3rem;
    font-weight: bolder;
}

@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.offer-container {
    width: 100%;
    background-color: white;
    margin-top: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.2);
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.offer-content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
}

.row-content div {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 1rem;
    background-color: whitesmoke;
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
    text-align: left;
}

.row-content div:hover {
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
}

.fade-in {
    opacity: 0; /* Starts completely transparent */
    transition: opacity 1s, transform 1s; /* Add a transition for the final state */
}

.fade-in.visible {
    opacity: 1;
}

.more-container {
    cursor: default; 
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.2);
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    padding-bottom: 9rem;
    background: linear-gradient(to right, #000000, #140b2b, #2b144d, #3c0c59);
    background-size: 400% 400%;
    animation: moveGradient 15s ease infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.circle {
    width: 20px; /* Sets the width */
    height: 20px; /* Sets the height to be equal to the width */
    background-color: white; /* Sets a background color */
    border-radius: 50%; /* This is the key property */
}

.circle-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.circle-container hr {
    position: absolute; /* Positions the line relative to the container */
    width: 100%; /* Makes the line span the full width of the container */
    border: none;
    height: 2px;
    background-color: white;
    margin: 0;
    top: 50%; /* Pushes the line down by half the container's height */
    transform: translateY(-50%); /* Adjusts for the line's own height to center it precisely */
    border-radius: 1rem;
}

.timeline-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  font-size: 1rem;
  font-weight: bolder;
}

/* The circle */
.timeline-circle {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  z-index: 2;
}

/* Text positioning */
.timeline-text {
  position: absolute;
  text-align: center;
  width: max-content;
  max-width: 120px;
  background-color: rgba(79, 79, 79, 0.5);
  color: white;
  border-radius: 1rem;
  padding: 0.4rem;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease;
}

.timeline-text:hover {
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
}

.timeline-text.top {
  bottom: 100%; /* place above circle */
  margin-bottom: 10px;
}

.timeline-text.bottom {
  top: 100%; /* place below circle */
  margin-top: 10px;
}